<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firechiang.android.copycat_helloword">

    <!-- 需要拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 需要发短信的权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 读写SD卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络的权限（注意：INTERNET 和 ACCESS_NETWORK_STATE都是） -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 安装未知来源的APK权限（自动安装APK需要） -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- 配置临时共享权限（android:authorities=这个共享权限的唯一标识，要使用这个权限就要用这个标识） -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.firechiang.android.copycat_helloword.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- 要共享的数据（注意：这个是要共享某些目录，而这些目录配置在 provider_paths.xml 文件里面） -->
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
        </provider>


        <!-- name（主界面Activity，点代表package（包名），也可以写全路径包名） -->
        <!-- label（主界面名称）-->
        <!-- android:launchMode="standard"（默认启动模式，每次调用startActivity()函数就会产生一个新的实列） -->
        <!-- android:theme="@style/ImageTextView"（指定主题，其实就是指定公共样式） -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"（没有标题栏的主题） -->
        <activity  android:name=".network.NetWorkDownloadAPK" android:label="@string/app_name" android:launchMode="standard">
            <!-- 意图过滤器 -->
            <intent-filter>
                <!-- android.intent.action.MAIN（让当前这个Activity成为主Activity） -->
                <action android:name="android.intent.action.MAIN" />
                <!-- android.intent.category.LAUNCHER（应用分类，让应用图标显示在主界面分类里面） -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 配置一个能被其它Activity启动的Activity -->
        <activity android:name=".Activity02LinearLayout02" android:label="跳转界面" />

        <!-- @style/Theme.AppCompat.Dialog（弹出框形式的界面） -->
        <activity android:name=".Activity04Dialog02" android:label="弹出框" android:theme="@style/Theme.AppCompat.Dialog" />

        <!-- singleTop（栈顶单列模式，如果已有一个实列在顶部时，就不会产生新的实列，如果不在栈顶就会产生一个新的实列） -->
        <activity android:name=".Activity05LauchMode02" android:label="界面2" android:launchMode="singleTop" />

        <!-- singleTask（当前栈单列模式，只有一个实列，默认在当前Task中，这个就是标准的单列） -->
        <activity android:name=".Activity05LauchMode03" android:label="界面3" android:launchMode="singleTask" />

        <activity android:name=".ui_component.Ui01SimpleComponent" android:label="常用简单的组件页面"/>
        <activity android:name=".ui_component.Ui02MenuComponent" android:label="常用菜单组件页面"/>
        <activity android:name=".ui_component.Ui03ProgressComponent" android:label="常用进度条组件页面"/>
        <!--<activity android:name=".ui_component.Ui04DialogComponent" android:label="常用对话框组件页面"/>-->
        <activity android:name=".ui_component.Ui05ListViewComponentSimpleTextListView" android:label="简单文本列表页面"/>
        <activity android:name=".ui_component.Ui05ListViewComponentComplexTextListView" android:label="复杂文本带图片的列表页面"/>
        <activity android:name=".ui_component.Ui05ListViewComponentCustomTextListView" android:label="自定义列表页面"/>
        <activity android:name=".ui_component.Ui05ListViewComponentImageTextListView" android:label="自定义列表页面（TextView左边直接加图片和自定义公共样式属性）"/>
        <activity android:name=".ui_component.Ui05ListViewComponentListViewListView" android:label="列表没有数据自动显示一个TextView"/>

        <activity android:name=".layout.Layout01Linear" android:label="线性布局示列"/>
        <activity android:name=".layout.Layout01Relative" android:label="相对布局示列"/>
        <activity android:name=".layout.Layout01Frame" android:label="帧布局示列"/>

        <activity android:name=".data_storage.DataStorageActivitySp" android:label="测试SharedPreference存储"/>
        <activity android:name=".data_storage.DataStorageActivitySd" android:label="测试Sd卡存储"/>
        <activity android:name=".data_storage.DataStorageActivityIf" android:label="测试手机内部存储"/>
        <activity android:name=".data_storage.DataStorageActivitySql" android:label="测试SQLite数据库存储"/>
    </application>

</manifest>